{% extends 'layout.html' %}

{% block title %}Edit Plant{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Edit Details of Plant {{ plant.ID }} : {{ plant.BotanicalName }}</h2>
            <form method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="BotanicalName" class="form-label">Botanical Name:</label>
                    <input type="text" class="form-control" id="BotanicalName" name="BotanicalName" value="{{ plant.BotanicalName }}" required>
                </div>
                <div class="mb-3">
                    <label for="CommonName" class="form-label">Common Name:</label>
                    <input type="text" class="form-control" id="CommonName" name="CommonName" value="{{ plant.CommonName }}" required>
                </div>
                <div class="mb-3">
                    <label for="Family" class="form-label">Family:</label>
                    <input type="text" class="form-control" id="Family" name="Family" value="{{ plant.Family }}" required>
                </div>
                <div class="mb-3">
                    <label for="Distribution" class="form-label">Distribution:</label>
                    <textarea class="form-control" id="Distribution" name="Distribution" required> {{ plant.Distribution }} </textarea>
                </div>
                <div class="mb-3">
                    <label for="Habitat" class="form-label">Habitat:</label>
                    <textarea class="form-control" id="Habitat" name="Habitat" required> {{ plant.Habitat }} </textarea>
                </div>
                <div class="mb-3">
                    <label for="Note" class="form-label">Note:</label>
                    <textarea class="form-control" id="Note" name="Note" required>{{ plant.Note }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Plant Current Image:</label>
                    <br>
                    {% if plant.Image %}
                        <img src="{{ url_for('static', filename='img/' + plant.Image) }}" alt="Plant Image" class="img-fluid">
                    {% else %}
                        <p>No image available.</p>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="Image" class="form-label">Upload New Image:</label>
                    <input type="file" class="form-control" id="Image" name="Image" accept="image/png, image/jpeg, image/jpg">
                </div>

                <div class="mb-3">
                    <label for="image_reference" class="form-label">Image Reference</label>
                    <input type="text" class="form-control" id="image_reference" name="image_reference" value="{{ plant.reference }}" placeholder="Enter the source of the image">
                </div>                

                <div class="mb-3">
                    <label for="Visibility" class="form-label">
                        Visibility:
                        <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Select 'Visible' to show the plant in the list. Select 'Not Visible' to hide it."></i>
                    </label>
                    <select class="form-control" id="Visibility" name="Visibility">
                        <option value="0" {% if plant.is_delete == 0 %}selected{% endif %}>Visible</option>
                        <option value="1" {% if plant.is_delete == 1 %}selected{% endif %}>Not Visible</option>
                    </select>
                </div>              

                <button type="submit" class="btn btn-primary " style="margin-bottom: 30px;">Update Details</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:xd_Signature msdt:dt="string"></mso:xd_Signature>
<mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_Editor msdt:dt="string">Gao, Dian</mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_Editor>
<mso:Order msdt:dt="string">18902800.0000000</mso:Order>
<mso:xd_ProgID msdt:dt="string"></mso:xd_ProgID>
<mso:_ExtendedDescription msdt:dt="string"></mso:_ExtendedDescription>
<mso:SharedWithUsers msdt:dt="string"></mso:SharedWithUsers>
<mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_Author msdt:dt="string">Gao, Dian</mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_Author>
<mso:ComplianceAssetId msdt:dt="string"></mso:ComplianceAssetId>
<mso:TemplateUrl msdt:dt="string"></mso:TemplateUrl>
<mso:TriggerFlowInfo msdt:dt="string"></mso:TriggerFlowInfo>
<mso:ContentTypeId msdt:dt="string">0x0101002F762B7C5F8C1B44A969538F1EBF5320</mso:ContentTypeId>
<mso:_SourceUrl msdt:dt="string"></mso:_SourceUrl>
<mso:_SharedFileIndex msdt:dt="string"></mso:_SharedFileIndex>
<mso:MediaLengthInSeconds msdt:dt="string"></mso:MediaLengthInSeconds>
<mso:TaxCatchAll msdt:dt="string"></mso:TaxCatchAll>
<mso:MediaServiceImageTags msdt:dt="string"></mso:MediaServiceImageTags>
<mso:lcf76f155ced4ddcb4097134ff3c332f msdt:dt="string"></mso:lcf76f155ced4ddcb4097134ff3c332f>
</mso:CustomDocumentProperties>
</xml><![endif]-->
<title></title></head>