{% extends 'layout.html' %}

{% block title %}My Account{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4" style="font-size: 2rem; font-weight: 900;">My Account</h2>

            <div class="card-body">
                <h4 class="mb-3" style="font-weight: 900;">Welcome, {{ account['Email'] }}!</h4>

                <div class="mb-3">
                    <h5>Account Details</h5>
                    <table class="table table-bordered">
                        <tr>
                            <th >Email:</th>
                            <td >{{ account['Email'] }}</td>
                        </tr>
                    </table>
                </div>

                <h5>Personal Photo</h5>
                <form action="{{ url_for('user.image') }}" method="post" class="mb-3" autocomplete="off" enctype="multipart/form-data">
                    <div class="col-md-6" style="width: 150px;height:130px;overflow: hidden;border:1px solid #eeee;">
                        {% if account.Image %}
                        <img style="width: 100%;height:auto;" src="{{ url_for('static', filename='img/' + account.Image) }}" alt="{{ account.ID }}" class="img-fluid">
                        {% else %}
                        <img style="width: 100%;height:auto;" src="{{ url_for('static', filename='img/update_profile_icon.jpg') }}" alt="No Image Available" class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="Image" class="form-label">Upload New Image:</label>
                        <input type="file" class="form-control" id="Image" name="Image" accept="image/png, image/jpeg, image/jpg">
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit-btn" style="display: none;">Submit</button>
                    <button type="button" class="btn btn-secondary" id="cancel-btn" style="display: none;">Cancel</button>
                </form>



                <h5>Change Your Password</h5>
                <form action="{{ url_for('user.profile') }}" method="post" class="mb-3" autocomplete="off">
                    <div class="mb-3">
                        <label for="old_password" class="form-label">Current Password</label>
                        <input type="password" name="old_password" class="form-control" id="old_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password" class="form-label">New Password</label>
                        <input type="password" name="new_password" class="form-control" id="new_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm Your New Password</label>
                        <input type="password" name="confirm_password" class="form-control" id="confirm_password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <!-- Navigation Buttons -->
                {% if session['role'] == 'Admin' %}
                <a href="/admin_dashboard" class="btn btn-secondary">Return to Dashboard</a>
                {% elif session['role'] == 'User' %}
                <a href="/user_dashboard" class="btn btn-secondary">Return to Dashboard</a>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}





<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:xd_Signature msdt:dt="string"></mso:xd_Signature>
<mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_Editor msdt:dt="string">Gao, Dian</mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_Editor>
<mso:Order msdt:dt="string">18903700.0000000</mso:Order>
<mso:xd_ProgID msdt:dt="string"></mso:xd_ProgID>
<mso:_ExtendedDescription msdt:dt="string"></mso:_ExtendedDescription>
<mso:SharedWithUsers msdt:dt="string"></mso:SharedWithUsers>
<mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_Author msdt:dt="string">Gao, Dian</mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_Author>
<mso:ComplianceAssetId msdt:dt="string"></mso:ComplianceAssetId>
<mso:TemplateUrl msdt:dt="string"></mso:TemplateUrl>
<mso:TriggerFlowInfo msdt:dt="string"></mso:TriggerFlowInfo>
<mso:ContentTypeId msdt:dt="string">0x0101002F762B7C5F8C1B44A969538F1EBF5320</mso:ContentTypeId>
<mso:_SourceUrl msdt:dt="string"></mso:_SourceUrl>
<mso:_SharedFileIndex msdt:dt="string"></mso:_SharedFileIndex>
<mso:MediaLengthInSeconds msdt:dt="string"></mso:MediaLengthInSeconds>
<mso:TaxCatchAll msdt:dt="string"></mso:TaxCatchAll>
<mso:MediaServiceImageTags msdt:dt="string"></mso:MediaServiceImageTags>
<mso:lcf76f155ced4ddcb4097134ff3c332f msdt:dt="string"></mso:lcf76f155ced4ddcb4097134ff3c332f>
</mso:CustomDocumentProperties>
</xml><![endif]-->
<title></title></head>